
<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-BR" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="pt-BR" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="pt-BR" ng-app="voa"> <!--<![endif]-->  
<head>
	<title>Viva o Android - Sua comunidade Android!</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Viva o Android - Comunidade de usu&aacute;rios e desenvolvedores do sistema Android.">
	

	<!-- facebook -->
	<meta property="og:image" content="https://www.vivaoandroid.com.br/imagens/logo-voa-facebook.png "/>
	<meta property="og:title" content="Viva o Android - Sua comunidade Android!" />


	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="image_src" href="/imagens/logo-voa-facebook.png" />

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/css/boot-style-min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


	<!-- CSS Customization -->
	<link rel="stylesheet" href="/assets/css/custom10.css?id=1">
	<link rel="stylesheet" href="/assets/css/home.css">

</head> 

<body class="header-fixed">

<div class="wrapper">
<!--=== Header ===-->    
<div class="header header-sticky no-topbar">
    
	<!-- Navbar -->
	<div class="navbar navbar-default mega-menu" role="navigation">
	<div class="container">
		<!-- logomarca -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="background: #443266 !important">
				<span class="sr-only">Navegar</span>
				<span class="fa fa-bars"></span>
			</button>
		<a class="navbar-brand" href="/"><img id="logo-header" src="/imagens/logo-voa-header.png" alt="Viva o Android"></a>
		</div>
		<!-- logomarca -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">

				<li><a href="/artigos/">Artigos</a></li>
				<li><a href="/noticias/">Notícias</a></li>
				<li><a href="/forum/">F&oacute;rum</a></li>

				<!-- Enviar -->
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Enviar</a>
					<ul class="dropdown-menu">
						<li> <a href="/contribuir/artigo/">Artigo</a></li>
						<li> <a href="/contribuir/noticia/">Notícia</a></li>
						<li> <a href="/contribuir/perguntas/">Pergunta</a></li>
					</ul>
				</li>
				<!-- End Enviar -->

				<!-- Sobre -->
				<li class="dropdown menu-grande"> 
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Sobre</a>
					<ul class="dropdown-menu">
						<li> <a href="/android/">O que é Android</a></li>
						<li> <a href="/falecom/">Contato</a></li>
						<!-- li> <a href="/anuncie/">Anuncie</a></li -->
						<li> <a href="/faq/">FAQ</a></li>
						<li> <a href="/privacidade/">Pol&iacute;tica de privacidade</a></li>
						<li> <a href="/quemsomos/">Quem somos</a></li>
						<li> <a href="/termos-de-uso/">Termos de uso</a></li>
					</ul>
				</li>
				<!-- End Sobre -->

				<!-- Search Block -->
				<li>
				<i class="search fa fa-search search-btn"></i>
				<!-- busca google -->
				<form method="get" action="/busca/" name="pesquisa" id="cse-search-box">
				<div class="search-open">
					<div class="input-group animated fadeInDown">
						<input type="hidden" name="cx" value="partner-pub-3535276187000580:4725058203" />
						<input type="hidden" name="cof" value="FORID:10" />
						<input type="hidden" name="ie" value="ISO-8859-1" />

						<input type="text" name="q" class="form-control" placeholder="Buscar" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
						</span>
					</div>
				</div>
				</form>
				<!-- busca google -->
				</li>
				<!-- End Search Block -->


				<li><div class="topbar"><ul class="loginbar"><li><a href="/testarLogin.php">Login</a></li><li class="topbar-devider"></li><li><a href="/formCadastro.php">Cadastre-se</a></li></ul></div></li>

				<li><!-- social -->
					<ul id="socialbar">
						<li> <a data-toggle="tooltip" data-placement="bottom" title="Acompanhe nosso Feed" href="/index.rdf"><i class="fa fa-rss fa-2x"></i></a>
						<li> <a data-toggle="tooltip" data-placement="bottom" title="Visite-nos no Facebook"  title="Facebook" href="https://www.facebook.com/vivaoandroidoficial" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
						<li> <a data-toggle="tooltip" data-placement="bottom" title="Siga-nos no Twitter"  title="Twitter" href="https://twitter.com/vivaoandroid_" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
					</ul>
				</li><!-- social -->

				
			</ul>
			</div><!--/navbar-collapse-->
		</div>
		</div>            
		<!-- End Navbar -->
</div>
<!--=== End Header ===-->    


<!--=== Content Part ===-->
<div class="container-fluid"> 
<div class="row">
<div class="col-md-10">

<br/>

<!-- INICIO -->
<!--
FOTO GRANDE:  534 x 462
FOTO PEQUENA: 265 x 198
-->
<div class="td_block_wrap td_block_big_grid_1 td_uid_35_5661bd46af6ad_rand td-grid-style-1 td-hover-1 td-pb-border-top">
	<div id=td_uid_35_5661bd46af6ad class="td_block_inner">
		<div class="td-big-grid-wrapper">

			<!-- destaque grande -->
			<div class="td_module_mx5 td-animation-stack td-big-grid-post-0 td-big-grid-post td-big-thumb">

				<div class="td-module-thumb"><a href="/artigo/Relogio-do-Android-travando-resolvido" rel="bookmark" title="Rel&oacute;gio do Android travando [resolvido]"><img width="534" height="462" itemprop="image" class="entry-thumb" src="/imagens/capa/big/root-android-big.jpg" alt="" title="Rel&oacute;gio do Android travando [resolvido]"/></a></div>

				<div class="td-meta-info-container">
					<div class="td-meta-align">

						<div class="td-big-grid-meta">
							<a href="/artigo/Relogio-do-Android-travando-resolvido" class="td-post-category">Resolução de Problemas</a>
							<h3 itemprop="name" class="entry-title td-module-title"><a itemprop="url" href="/artigo/Relogio-do-Android-travando-resolvido" rel="bookmark" title="Rel&oacute;gio do Android travando [resolvido]">Rel&oacute;gio do Android travando [resolvido]</a></h3>
						</div>

						<div class="td-module-meta-info"></div>

					</div>

				</div><!-- fim td-meta-info-container -->

			</div><!-- td_module_mx5 -->
			<!-- fim destaque grande -->


			<div class="td-big-grid-scroll">

				<!-- destaque pequeno 1 -->
				<div class="td_module_mx6 td-animation-stack td-big-grid-post-1 td-big-grid-post td-small-thumb">

					<div class="td-module-thumb">
						<a href="/noticia/Confira-o-que-entra-e-o-que-sai-da-Netflix-em-agosto-de-2017" rel="bookmark" title="Confira o que entra e o que sai da Netflix em agosto de 2017"><img width="265" height="198" itemprop="image" class="entry-thumb" src="/imagens/capa/small/netflix-small.jpg" alt="" title="Confira o que entra e o que sai da Netflix em agosto de 2017"/></a>
					</div>

					<div class="td-meta-info-container">
						<div class="td-meta-align">
							<div class="td-big-grid-meta">
								<a href="/noticia/Confira-o-que-entra-e-o-que-sai-da-Netflix-em-agosto-de-2017" class="td-post-category">Entretenimento</a>
								<h3 itemprop="name" class="entry-title td-module-title"><a itemprop="url" href="/noticia/Confira-o-que-entra-e-o-que-sai-da-Netflix-em-agosto-de-2017" rel="bookmark" title="Confira o que entra e o que sai da Netflix em agosto de 2017">Confira o que entra e o que sai da Netflix em agosto de 2017</a></h3>
							</div>
						</div>
					</div>

				</div><!-- fim td-small-thumb -->
				<!-- fim destaque pequeno 1 -->

				<!-- destaque pequeno 2 -->
				<div class="td_module_mx6 td-animation-stack td-big-grid-post-2 td-big-grid-post td-small-thumb">

					<div class="td-module-thumb">
						<a href="/noticia/Lista-da-vergonha-Apps-perigosos-ou-inconvenientes-que-estao-na-Google-Play-e-mesmo-assim-sao-um-sucesso" rel="bookmark" title="Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!"><img width="265" height="198" itemprop="image" class="entry-thumb" src="/imagens/capa/small/1456935936.android_malware_small.jpg" alt="" title="Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!"/></a>
					</div>

					<div class="td-meta-info-container">
						<div class="td-meta-align">
							<div class="td-big-grid-meta">
								<a href="/noticia/Lista-da-vergonha-Apps-perigosos-ou-inconvenientes-que-estao-na-Google-Play-e-mesmo-assim-sao-um-sucesso" class="td-post-category">Informação</a>
								<h3 itemprop="name" class="entry-title td-module-title"><a itemprop="url" href="/noticia/Lista-da-vergonha-Apps-perigosos-ou-inconvenientes-que-estao-na-Google-Play-e-mesmo-assim-sao-um-sucesso" rel="bookmark" title="Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!">Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!</a></h3>
							</div>
						</div>
					</div>

				</div><!-- fim td-small-thumb -->
				<!-- fim destaque pequeno 2 -->

				<!-- destaque pequeno 3 -->
				<div class="td_module_mx6 td-animation-stack td-big-grid-post-3 td-big-grid-post td-small-thumb">

					<div class="td-module-thumb">
						<a href="/noticia/Lancamento-Android-Essencial-com-Kotlin" rel="bookmark" title="Lançamento Android Essencial com Kotlin"><img width="265" height="198" itemprop="image" class="entry-thumb" src="/imagens/capa/small/kotlin_small.jpg" alt="" title="Lançamento Android Essencial com Kotlin"/></a>
					</div>

					<div class="td-meta-info-container">
						<div class="td-meta-align">
							<div class="td-big-grid-meta">
								<a href="/noticia/Lancamento-Android-Essencial-com-Kotlin" class="td-post-category">Novidades</a>
								<h3 itemprop="name" class="entry-title td-module-title"><a itemprop="url" href="/noticia/Lancamento-Android-Essencial-com-Kotlin" rel="bookmark" title="Lançamento Android Essencial com Kotlin">Lançamento Android Essencial com Kotlin</a></h3>
							</div>
						</div>
					</div>

				</div><!-- fim td-small-thumb -->
				<!-- fim destaque pequeno 3 -->

				<!-- destaque pequeno 4 -->
				<div class="td_module_mx6 td-animation-stack td-big-grid-post-4 td-big-grid-post td-small-thumb">

					<div class="td-module-thumb">
						<a href="/artigo/Onde-e-baixar-e-como-instalar-o-Gapps" rel="bookmark" title="Onde baixar e como instalar o Gapps?"><img width="265" height="198" itemprop="image" class="entry-thumb" src="/imagens/capa/small/opengapps_small.jpg" alt="" title="Onde baixar e como instalar o Gapps?"/></a>
					</div>

					<div class="td-meta-info-container">
						<div class="td-meta-align">
							<div class="td-big-grid-meta">
								<a href="/artigo/Onde-e-baixar-e-como-instalar-o-Gapps" class="td-post-category">Configuração e Personalização</a>
								<h3 itemprop="name" class="entry-title td-module-title"><a itemprop="url" href="/artigo/Onde-e-baixar-e-como-instalar-o-Gapps" rel="bookmark" title="Onde baixar e como instalar o Gapps?">Onde baixar e como instalar o Gapps?</a></h3>
							</div>
						</div>
					</div>

				</div><!-- fim td-small-thumb -->
				<!-- fim destaque pequeno 4 -->

			</div>
		</div><!-- fim td-big-grid-wrapper -->

		<div class="clearfix"></div>
	</div><!-- fim tb_block_inner -->
</div>
<!-- FIM -->

<!-- BANNER SKY -->
<div id="banner-sky" class="container-fluid text-center visible-md visible-lg"><div class="figura">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 970x90 geral -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3535276187000580"
     data-ad-slot="1085253688"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div></div>

<!-- BANNER SKY -->


<!-- Tabs v1 -->
<div class="tab-v1">
<!-- ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#artigos">Artigos</a></li>
	<li><a data-toggle="tab" href="#noticias">Notícias</a></li>
	<li><a data-toggle="tab" href="#forum">F&oacute;rum</a></li>
</ul -->                

<div class="tab-content-off">

<div class="headline"><h5>Artigos</h5></div>

	<div id="artigos" class="tab-pane fade in active tab-home row">
		<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Relogio-do-Android-travando-resolvido"><img src="/imagens/capa/small/root-android-small.jpg" alt="Rel&oacute;gio do Android travando [resolvido]" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Relogio-do-Android-travando-resolvido/">Rel&oacute;gio do Android travando [resolvido]</a></h4>
		<p>Para quem tem Android rooteado e percebe que o rel&oacute;gio do sistema est&aacute; travando. Veja como resolver.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Onde-e-baixar-e-como-instalar-o-Gapps"><img src="/imagens/capa/small/opengapps_small.jpg" alt="Onde baixar e como instalar o Gapps?" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Onde-e-baixar-e-como-instalar-o-Gapps/">Onde baixar e como instalar o Gapps?</a></h4>
		<p>Gapps &eacute; um conjunto de aplicativos Google, um pacote que inclui v&aacute;rios (at&eacute; todos) os apps Google para seu Android.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Conhece-Sword-Art-Online"><img src="/imagens/capa/small/sao_small.jpg" alt="Conhece Sword Art Online?" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Conhece-Sword-Art-Online/">Conhece Sword Art Online?</a></h4>
		<p>Trata-se de um jogo e tamb&eacute;m uma s&eacute;rie de anime. Aprenda como instalar o jogo no Android (n&atilde;o permitido oficialmente ainda).</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Google-segue-todos-os-seus-passos-ao-longo-dos-anos-Duvida"><img src="/imagens/capa/small/googlewatching_small.jpg" alt="Google segue todos os seus passos ao longo dos anos. Duvida?" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Google-segue-todos-os-seus-passos-ao-longo-dos-anos-Duvida/">Google segue todos os seus passos ao longo dos anos. Duvida?</a></h4>
		<p>Se voc&ecirc; tem Android provavelmente foi ou est&aacute; sendo rastreado. Veja como acessar o relat&oacute;rio completo de suas andan&ccedil;as pelo mundo.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Comerciais-do-iPhone-provocam-concorrentes"><img src="/imagens/capa/small/applecomeandroid_small.jpg" alt="Comerciais do iPhone provocam concorrentes" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Comerciais-do-iPhone-provocam-concorrentes/">Comerciais do iPhone provocam concorrentes</a></h4>
		<p>Veja comerciais de iPhone que, aparentemente, provocam usu&aacute;rios de Android.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Removas-as-notificacoes-de-mensagens-de-voz"><img src="/imagens/capa/small/voicemail_small.jpg" alt="Removas as notifica&ccedil;&otilde;es de mensagens de voz" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Removas-as-notificacoes-de-mensagens-de-voz/">Removas as notifica&ccedil;&otilde;es de mensagens de voz</a></h4>
		<p>Sabe aqueles &iacute;cones chatos de mensagem de voz? Remova-os para sempre de uma vez.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Conheca-a-serie-Castlevania"><img src="/imagens/capa/small/castlevania-desenho_small.jpg" alt="Conhe&ccedil;a a s&eacute;rie Castlevania" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Conheca-a-serie-Castlevania/">Conhe&ccedil;a a s&eacute;rie Castlevania</a></h4>
		<p>A Netflix lan&ccedil;ou a s&eacute;rie animada Castlevania. Leia uma opini&atilde;o sobre ela de quem assistiu a primeira temporada.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Telefone-possuido-Veja-o-que-voce-pode-fazer-parte-2"><img src="/imagens/capa/small/ghost-touch_small.jpg" alt="Telefone &quot;possu&iacute;do&quot;? Veja o que voc&ecirc; pode fazer (parte 2)" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Telefone-possuido-Veja-o-que-voce-pode-fazer-parte-2/">Telefone &quot;possu&iacute;do&quot;? Veja o que voc&ecirc; pode fazer (parte 2)</a></h4>
		<p>Veja mais coisas que voc&ecirc; pode fazer para resolver o problema do toque fantasma.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Instalando-Netflix-em-Android-rooteado"><img src="/imagens/capa/small/netflix-small.jpg" alt="Instalando Netflix em Android rooteado" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Instalando-Netflix-em-Android-rooteado/">Instalando Netflix em Android rooteado</a></h4>
		<p>Se voc&ecirc; teme rootear o aparelho porque acha que vai ficar sem Netflix, veja esta dica.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/artigo/Obtendo-permissao-de-superusuario-no-LineageOS"><img src="/imagens/capa/small/lineageoslogo2_small.jpg" alt="Obtendo permiss&atilde;o de superusu&aacute;rio no LineageOS" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body">
		<h4><a class="home-link" href="/artigo/Obtendo-permissao-de-superusuario-no-LineageOS/">Obtendo permiss&atilde;o de superusu&aacute;rio no LineageOS</a></h4>
		<p>Veja neste artigo como &quot;rootear&quot; o sistema LineageOS.</p>
		<p class="direita"><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>

		<a href="/artigos/" class="pull-right btn btn-default btn-sm rounded-2x"><i class="fa fa-plus-circle"></i> artigos</a>
	</div>	
                
<!-- BANNER SKY -->
<div id="banner-sky" class="container-fluid text-center visible-md visible-lg"><div class="figura">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 970x90 geral -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3535276187000580"
     data-ad-slot="1085253688"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div></div>

<!-- BANNER SKY -->


<div class="headline"><h5>Notícias</h5></div>

	<div id="noticias" class="tab-pane fade in tab-home row">
		<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Confira-o-que-entra-e-o-que-sai-da-Netflix-em-agosto-de-2017"><img src="/imagens/capa/small/netflix-small.jpg" alt="Confira o que entra e o que sai da Netflix em agosto de 2017" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Confira-o-que-entra-e-o-que-sai-da-Netflix-em-agosto-de-2017/">Confira o que entra e o que sai da Netflix em agosto de 2017</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Lista-da-vergonha-Apps-perigosos-ou-inconvenientes-que-estao-na-Google-Play-e-mesmo-assim-sao-um-sucesso"><img src="/imagens/capa/small/1456935936.android_malware_small.jpg" alt="Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Lista-da-vergonha-Apps-perigosos-ou-inconvenientes-que-estao-na-Google-Play-e-mesmo-assim-sao-um-sucesso/">Lista da vergonha! Apps perigosos ou inconvenientes que estão na Google Play e mesmo assim são um sucesso!</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Lancamento-Android-Essencial-com-Kotlin"><img src="/imagens/capa/small/kotlin_small.jpg" alt="Lançamento Android Essencial com Kotlin" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Lancamento-Android-Essencial-com-Kotlin/">Lançamento Android Essencial com Kotlin</a></h2>
		<p><small>Por <em>Mariana Borges</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Gosta-de-TD-Aproveita-esse-enquanto-esta-gratis"><img src="/imagens/capa/small/defensezone3_small.jpg" alt="Gosta de TD? Aproveita esse enquanto está grátis!" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Gosta-de-TD-Aproveita-esse-enquanto-esta-gratis/">Gosta de TD? Aproveita esse enquanto está grátis!</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Jogo-da-Patrulha-Canina-esta-gratis-por-tempo-limitado"><img src="/imagens/capa/small/patrulhacanina_small.jpg" alt="Jogo da Patrulha Canina está grátis por tempo limitado" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Jogo-da-Patrulha-Canina-esta-gratis-por-tempo-limitado/">Jogo da Patrulha Canina está grátis por tempo limitado</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Jogo-da-Square-com-preco-promocional"><img src="/imagens/capa/small/adventureofmana_small.jpg" alt="Jogo da Square com preço promocional" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Jogo-da-Square-com-preco-promocional/">Jogo da Square com preço promocional</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Mais-jogos-pagos-que-estao-gratis-Toma"><img src="/imagens/capa/small/misteryoffurtune2_small.jpg" alt="Mais jogos pagos que estão grátis? Toma!" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Mais-jogos-pagos-que-estao-gratis-Toma/">Mais jogos pagos que estão grátis? Toma!</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Total-Phone-Cleaner-de-R-914-por-R-000-neste-link"><img src="/imagens/capa/small/limpador_android_small.jpg" alt="Total Phone Cleaner de R$ 9,14 por R$ 0,00 neste link" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Total-Phone-Cleaner-de-R-914-por-R-000-neste-link/">Total Phone Cleaner de R$ 9,14 por R$ 0,00 neste link</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Escreva-com-letrinhas"><img src="/imagens/capa/small/tinytext_small.jpg" alt="Escreva com letrinhas ^^" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Escreva-com-letrinhas/">Escreva com letrinhas ^^</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="col-md-6">

	<a class="pull-left visible-md visible-lg visible-xl" href="/noticia/Quem-nao-curte-jogo-gratis-por-tempo-LIMITADO-Veja-um-aqui"><img src="/imagens/capa/small/dungeon999android_small.jpg" alt="Quem não curte jogo grátis por tempo LIMITADO? Veja um aqui" border=0 width=120 height=90 class="img-thumbnail rounded-2x imgHome" style="width: 180px; height: auto; margin: 10px; "></a>

	<div class="media-body"><br/>
		<h4><a class="home-link" href="/noticia/Quem-nao-curte-jogo-gratis-por-tempo-LIMITADO-Veja-um-aqui/">Quem não curte jogo grátis por tempo LIMITADO? Veja um aqui</a></h2>
		<p><small>Por <em>Xerxes Lins</em></small></p>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>

		<a href="/noticias/" class="pull-right btn btn-default btn-sm rounded-2x"><i class="fa fa-plus-circle"></i> notícias</a>
	</div>

<div class="headline"><h5>Fórum</h5></div>

	<div id="forum" class="tab-pane fade in tab-home">
		<table class="table table-hover">
		<tr>
		<th>&nbsp;</th>
		<th>T&oacute;pico</th>
		<th>Comunidade</th>
		<th class="visible-md">&Uacute;ltimo post</th>
		</tr>
		<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Outros-3/Inserir-splash-screen">Inserir splash screen</a></td>
<td><a class="home-link" href="/forum/c/Outros-3">Outros</a></td>
<td nowrap class="centro visible-md">03/08/2017 15:09</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Celulares/CyanogenMod-ROMs">CyanogenMod ROMs</a></td>
<td><a class="home-link" href="/forum/c/Celulares">Celulares</a></td>
<td nowrap class="centro visible-md">03/08/2017 04:04</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/PhoneGap/Camera-com-desenho">C&acirc;mera com desenho.</a></td>
<td><a class="home-link" href="/forum/c/PhoneGap">PhoneGap</a></td>
<td nowrap class="centro visible-md">28/07/2017 23:45</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Produtividade/Bloquear-sinal-de-wifi-temporariamente">Bloquear sinal de wifi temporariamente</a></td>
<td><a class="home-link" href="/forum/c/Produtividade">Produtividade</a></td>
<td nowrap class="centro visible-md">21/07/2017 16:23</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Aparelhos-Rooteados/Criar-propria-custom-ROM-com-as-informacoes-do-seu-aparelho">Criar pr&oacute;pria custom ROM  com as informa&ccedil;&otilde;es do seu aparelho</a></td>
<td><a class="home-link" href="/forum/c/Aparelhos-Rooteados">Aparelhos Rooteados</a></td>
<td nowrap class="centro visible-md">11/07/2017 11:27</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Aparelhos-Rooteados/Stock-rom-moto-g4-pelo-Linux">Stock rom moto g4 pelo Linux</a></td>
<td><a class="home-link" href="/forum/c/Aparelhos-Rooteados">Aparelhos Rooteados</a></td>
<td nowrap class="centro visible-md">04/07/2017 15:16</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Outros-3/Alternativa-ao-android-Studio">Alternativa ao android Studio</a></td>
<td><a class="home-link" href="/forum/c/Outros-3">Outros</a></td>
<td nowrap class="centro visible-md">03/07/2017 00:50</td>
</tr>
<tr>
<td><i class='fa fa-lock'></i></td>
<td><a class="home-link" href="/topico/Outros/Nao-consigo-ver-videos-de-sites-da-Globo">N&atilde;o consigo ver v&iacute;deos de sites da Globo [RESOLVIDO]</a></td>
<td><a class="home-link" href="/forum/c/Outros">Outros</a></td>
<td nowrap class="centro visible-md">28/06/2017 23:18</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Outros/Nao-consigo-acessar-arquivos-pelo-PC-MTP">N&atilde;o consigo acessar arquivos pelo PC (MTP)</a></td>
<td><a class="home-link" href="/forum/c/Outros">Outros</a></td>
<td nowrap class="centro visible-md">28/06/2017 22:54</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Celulares/nao-consigo-desbloquear-meu-booloader-do-meu-motog3">nao consigo desbloquear meu booloader do meu motog3 </a></td>
<td><a class="home-link" href="/forum/c/Celulares">Celulares</a></td>
<td nowrap class="centro visible-md">26/06/2017 01:24</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Java/Nao-consigo-fazer-transacoes-de-Fragment">N&atilde;o consigo fazer transa&ccedil;&otilde;es de Fragment</a></td>
<td><a class="home-link" href="/forum/c/Java">Java</a></td>
<td nowrap class="centro visible-md">22/06/2017 12:49</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Tablets/qbex-tx300">qbex tx300</a></td>
<td><a class="home-link" href="/forum/c/Tablets">Tablets</a></td>
<td nowrap class="centro visible-md">11/06/2017 11:47</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Aparelhos-Rooteados/FASTBOOT-TWRP-E-CUSTOM-ROMS-NO-LINUX">FASTBOOT, TWRP E CUSTOM ROMS NO LINUX</a></td>
<td><a class="home-link" href="/forum/c/Aparelhos-Rooteados">Aparelhos Rooteados</a></td>
<td nowrap class="centro visible-md">10/06/2017 01:52</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Java/Eclipse-ou-Android-studio-TRETA-STARTS">Eclipse ou Android studio? TRETA STARTS!!</a></td>
<td><a class="home-link" href="/forum/c/Java">Java</a></td>
<td nowrap class="centro visible-md">04/06/2017 22:13</td>
</tr>
<tr>
<td><i class='fa fa-folder-open-o'></i></td>
<td><a class="home-link" href="/topico/Aparelhos-Rooteados/Samsung-Galaxy-S7-Edge-App-Telefone-liga-mas-nao-ouve-escuta">Samsung Galaxy S7 Edge &mdash; App Telefone liga, mas n&atilde;o ouve-escuta</a></td>
<td><a class="home-link" href="/forum/c/Aparelhos-Rooteados">Aparelhos Rooteados</a></td>
<td nowrap class="centro visible-md">29/05/2017 13:19</td>
</tr>

		</table>
		<a href="/forum/" class="pull-right btn btn-default btn-sm rounded-2x"><i class="fa fa-plus-circle"></i> t&oacute;picos</a>
	</div>

</div>
</div><!--/tab-v1-->
<!-- End Tabs v1 -->

<div class="clearfix"></div>


<div class="clerafix margin-bottom-50"></div>

</div>
            
	<div class="col-md-2 visible-md visible-lg">
		<div class="headline" style="margin-top: 0px"><h3>Patroc&iacute;nio</h3></div>

		<div class="blog-twitter">
		<div class="text-center blog-twitter-inner">Site hospedado pelo provedor <a href="/verBanner.php?codigo=569" target="_blank" rel="nofollow">HostGator</a>.</div>
		</div>


		<div id="banner-left" class="text-center hidden-xs hidden-sm"><div class="figura">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600 geral -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-3535276187000580"
     data-ad-slot="5522126481"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div></div>

		<div class="headline"><h3>Visite tamb&eacute;m</h3></div>
		<div class="text-center">
<div class="textosolto">
<div style="margin-bottom: 8px;"><a href="/verBanner.php?codigo=568" target="_blank" rel="nofollow"><img src="/imagens/banners/banner-phonegap.jpg" width=160 height=120 border=0 alt="Android banner"></a></div>
<div style="margin-bottom: 8px;"><a href="/verBanner.php?codigo=589" target="_blank" rel="nofollow"><img src="/imagens/banners/banner-vol.jpg" width=160 height=120 border=0 alt="Android banner"></a></div>  
<div style="margin-bottom: 8px;"><a href="/verBanner.php?codigo=566" target="_blank" rel="nofollow"><img src="/imagens/banners/banner-android-developers.png" width=160 height=120 border=0 alt="Android banner"></a></div>
</div>
</div>

		<!-- Destaques -->
		<div class="headline"><h3>Destaques</h3></div>
		<div id="destaques" class="service-block rounded-2x service-block-dark box-ultimas" ng-controller="ultimasPublicacoesController">
			<p ng-repeat="destaque in destaques"><a ng-href="/topico/{{destaque.url}}" ng-bind-html="destaque.titulo">{{destaque.titulo}}</a></p>
		</div>
		<!-- End Destaques -->

	<!-- Top 10-->
	<div class="headline"><h3>Top 10 do m&ecirc;s</h3></div>
	<div id="top10" class="service-block rounded-2x service-block-dark text-left" style="padding: 10px;" ng-controller="ultimasPublicacoesController">
			<ul class="newsticker list-unstyled">
				<li ng-repeat="usuario in usuarios"> <a style="color: rgba(0, 0, 0, 1)" ng-href="/~{{usuario.login}}"><img class="img-thumbnail rounded-2x" ng-src="/imagens/fotos/{{usuario.foto}}"><br/><span  ng-bind-html="usuario.nome">{{usuario.nome}}</span></a><br/><span style="color: rgba(0, 0, 0, 1);">{{$index + 1}}&deg; lugar - {{usuario.pontos | number}} pts</span> </li>
			</ul>
	</div>
	<!-- End Top 10-->




	</div>
</div><!--/row-->

        
</div><!--/container-->     
<!-- End Content Part -->




<!--=== Footer Version 1 ===-->
<div class="footer-v1">
<div class="footer">
<div class="container">
<div class="row">
	<!-- About -->
	<div class="col-md-3 md-margin-bottom-40">

	<a href="/"><img id="logo-header" class="footer-logo" src="/imagens/logo-voa-header.png" alt="Viva o Android"></a>
	<p>Comunidade de usuários e desenvolvedores do sistema Android. </p>

	</div>
	<!-- End About -->

	<!-- Links -->
	<div class="col-md-3 md-margin-bottom-40">

		<div class="posts">
			<ul class="list-unstyled latest-list">
				<li> <a href="/faq/">FAQ - Perguntas frequentes</a></li>
				<li> <a href="/estatisticas/">Estat&iacute;sticas do site</a></li>
				<li> <a href="/equipe/">Equipe de moderadores</a></li>
				<li> <a href="/membros/">Membros da comunidade</a></li>
			</ul>
		</div>

	</div>
	<!-- End Links -->

	<!-- Links -->
	<div class="col-md-3 md-margin-bottom-40">

		<div class="posts">
			<ul class="list-unstyled latest-list">
				<!-- li> <a href="/anuncie/">Anuncie</a></li -->
				<li> <a href="/android/">O que é Android</a></li>
				<li> <a href="/falecom/">Contato</a></li>
				<li> <a href="/privacidade/">Pol&iacute;tica de privacidade</a></li>
				<li> <a href="/quemsomos/">Quem somos</a></li>
				<li> <a href="/termos-de-uso/">Termos de uso</a></li>
			</ul>
		</div>

	</div>
	<!-- End Links -->


	<!-- Hostgator -->
	<div class="col-md-3 md-margin-bottom-40">

		<p>Site hospedado por: </p><br/>
		<a href="/verBanner.php?codigo=569" target="_blank" rel="nofollow"><img src="/imagens/hostgator-2015.png" class="footer-header"></a>
	</div>
	<!-- End Hostgator -->
</div>

<div class="row">
<div class="col-md-12 md-margin-bottom-40 centro">
<br/><br/>

</div>
</div>

</div> 
</div><!--/footer-->

</div>     
<!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory --> 
<script src="/include/js/jquery-boot-min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/mega-plugins.js"></script>

<!-- JS Page Level - TODO COMBINAR OS 3 --> 
p
<!-- angular -->
<script type="text/javascript" src="/assets/js/angular.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/assets/js/voa.js"></script>
<!-- angular -->

<script type="text/javascript" src="/assets/js/mega.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        OwlRecentWorks.initOwlRecentWorksV2(); 

	$('[data-toggle="tooltip"]').tooltip()

	//$("#banner-sky").replaceWith( $("#google-sky") );	
	//$("#banner-left").replaceWith( $("#google-left") );
	$(".tp-banner-container").show();

	$('.newsticker').newsTicker({
		row_height: 150,
		max_rows: 3,
		autostart: 1,
		duration: 4000,
		pauseOnHover: 0,
		speed: 1600
	});
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/ie-plugins-min.js"></script>
<![endif]-->
	
<script>
// -> /include/funcoes3-min.js
function submeter_busca(a){a.submit}function showHide(a){if(document.getElementById(a).style.display=="none"){document.getElementById(a).style.display=""}else{document.getElementById(a).style.display="none"}}function quote(a){var b=document.getElementById(a).innerHTML;b=b.replace(/(<([^>]+)>)/ig,"");document.formComentario.comentario.value="[quote]"+b+"[/quote]\n\n";document.formComentario.comentario.focus()}
</script>

<!-- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67054195-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- Google Analytics-->


<script>
function leftArrowPressed() {
	
}

function rightArrowPressed() {
	
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>


</body>
</html>	
